body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 80px;
}

.image {
  display: inline-block;
  width: 100%;
  height: auto;
}

header .nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header .nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logo {
  width: 104px;
}

header .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .item {
  display: inline;
}

header .nav-right {
}

header .banner {
  display: flex;
  padding: 40px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .banner-left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

header .banner-right {
  display: flex;
  width: 60%;
}

/* tablet devices */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    margin: 0 40px;
  }

  header .list {
    display: none;
  }

  header .nav-right {
    display: none;
  }

  header .banner {
    padding: 20px;
  }

  header .banner-left {
    width: 50%;
  }

  header .banner-right {
    width: 50%;
  }
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    margin: 0 80px;
  }

  header .banner {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  header .banner-left {
    width: 100%;
    align-items: center;
  }

  header .banner-right {
    width: 100%;
  }
}

main {
  margin: 0 80px;
}


main section{
  padding: 79px 298px 48px 299px;
  text-align: center  ;
}  

main h3.title {
  color: #121722;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 116.667% */
}

main span.title {
  color: rgba(18, 23, 34, 0.70);
  text-align: center;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 152.381% */
}

main .intro {
  display: flex;
  border-radius: 16px;
  padding: 0 80px;
  background: #4058FF;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

main .intro-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 48px ;
  
}

main h2.title {
  color: #FFF;
  font-family: Roboro;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 111.765% */
}

main span.text {
  color: #E8F1FF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 145% */
}

main .intro-right {
  width: 100%;
}

main .image1 {
  /* position: absolute; */
  top: 0px;
  width: 50%;
  padding: 80px 23px 80px 475px;
  /* z-index: 1;*/
}

main .image2 {
  /* position: absolute; */
  width: 40%;
  flex-shrink: 0;
  padding: 78px 32px 18px 17px;
  /* z-index: 2; */
}


